/*Form*/

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-black);
}

/* Media Queries (Medium Devices like tablets) */

@media screen and (max-width: 1024px) {
    
}

/* Media Queries (Small Devices like phones) */

@media screen and (max-width: 600px) {
   
}