header {
    height: 20vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* Social buttons */

.header__socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

/* Media Queries (Medium Devices like tablets) */

@media screen and (max-width: 1920px) {
    header {
        height: 30vh;
    }
}

@media screen and (max-width: 1024px) {
    header {
        height: 20vh;
    }
}

/* Media Queries (Small Devices like phones) */

@media screen and (max-width: 600px) {
    header {
        height: 22vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}